
header{
    text-align: center;
    background-color: rgb(82, 82, 238);
    margin-left: 15%;
    margin-right: 15%;
    padding: 20px;
    top: 0;
    border: solid;
}
h1{color: aquamarine;
}

body{
    background-color: rgb(105, 172, 254);
   
}

main{
    border: solid;
    max-width: 70%;
    margin: auto;
    background-color: rgb(82, 82, 238);
}
h2{
    text-align: center;
    padding-top: 20px;
    color: aquamarine;
    text-decoration: underline;
}
ul{
    text-align: center;
    list-style-type: none;
    padding: 20px;
    
}
a{
    color: aquamarine;
    text-decoration: none;
    font-size: 20px;
}

a:hover{
    color: rgb(0, 255, 170);
    background-color: black;
    text-decoration: underline;
}

img{
    display:flex; flex-wrap: wrap; justify-content: center;
    width: 80%;
    height: 1000px;
    margin: auto;
    padding-bottom: 50px;
}

